@args (String full_name, String change_password_url)
﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
    </style>
</head>
<body>
<div style="width:600px">
    <table border="0" width="100%" cellspacing="1" cellpadding="0" id="table1" style="line-height: 25px; text-align: justify;">
        <tr>
            <td><font face="Arial" size="2">Dear <span  style="font-weight: bold;">@full_name</span><b>,</b></font></td>
            <td></td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td colspan="2"><font size="2" face="Arial, Helvetica, sans-serif">
                <span>Bạn đã đăng ký lấy lại mật khẩu đăng nhập VNDIRECT. Xin vui lòng click vào link dưới đây để có thể thiết lập mật khẩu mới: <br/></span>
            </font>
                <div  style="text-align: center;"><a style="font-weight: bold;" href='@change_password_url'>Thiết lập mật khẩu mới</a></div>
            </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td style="font-family:Arial; font-size: 13px;line-height: 15px;"><p style="font-style: italic;">Trân trọng,</p>
                <p>Công ty Cổ phần Chứng Khoán VNDIRECT</p>
                <p>Số 1 Nguyễn Thượng Hiền, Quận Hai Bà Trưng, Hà Nội</p>
                <p>Tele : (84 4) 39410622</p>
                <p>Fax : (84 4) 39724600</p>
                <p>Hotline : 1900-54 54-09</p>
                <p>Website : <a style="color: #f8941d; text-decoration: none;" href="https://www.vndirect.com.vn">https://www.vndirect.com.vn</a></p>
            </td>
        </tr>
    </table>
</div>
</body>
</html>

