@args (String active_url,String denied_url,String email,String full_name,String id_date,String id_number,String id_place,String mobile_phone)
﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style>
</style>
</head>
<body>
	<div style="font-family: Arial; font-size: 14px; text-align: justify; line-height: 25px; max-width: 700px">
		<p>Xin chào Quý khách hàng <b>@full_name</b><br/>
			Cảm ơn Quý khách đã đăng ký mở tài khoản tại VNDIRECT,
			qua website <a href="www.vndirect.com.vn" target="_blank"> www.vndirect.com.vn</a></p>
		<p>Chúng tôi đã nhận được thông tin mở tài khoản của Quý khách như sau:</p>
		<ul style="list-style: none; padding: 0;">
			<li>Họ và tên: <b>@full_name</b></li>
			<li>Số CMND/ CCCD: <b>@id_number</b></li>
			<li>Ngày cấp: <b>@id_date</b>; Nơi cấp: <b>@id_place</b></li>
			<li>Số điện thoại: <b>@mobile_phone</b></li>
			<li>Email: <b>@email</b></li>
		</ul>
		<p>Nếu những thông tin trên là chính xác, Quý khách vui lòng xác nhận theo đường dẫn sau:</p>
		<p><strong><i><a href="@active_url" target="_blank">XÁC NHẬN THÔNG TIN</a></i></strong></p>
		<p>Khi truy cập đường dẫn này, có nghĩa Quý khách đã đảm bảo về những thông tin cung cấp cho VNDIRECT. <br/>
			Nếu có bất kỳ thắc mắc, câu hỏi nào, mời Quý khách liên hệ phòng
			Dịch vụ khách hàng qua tổng đài <b style="display: inline-block;">1900 54 54 09</b>
			hoặc gửi email tới địa chỉ <a target="_blank"
				href="mailto:support@@vndirect.com.vn">support@@vndirect.com.vn</a>,
			chúng tôi luôn sẵn sàng hỗ trợ Quý khách.</p>
			<div
				style="margin: 20px 0px; font-size: 13px; padding: 0; font-style: italic; margin: 0">
				<div>Trân trọng,</div>
				<div>Công ty Cổ phần Chứng Khoán VNDIRECT</div>
				<div>Số 1 Nguyễn Thượng Hiền, Quận Hai Bà Trưng, Hà Nội</div>
				<div>Tele : (84 024) 39410622</div>
				<div>Fax : (84 024) 39724600</div>
				<div>Hotline : 1900-54 54-09</div>
				<div>
					Website : <a href="https://www.vndirect.com.vn" target="_blank">https://www.vndirect.com.vn</a>
				</div>
			</div>
	</div>
</body>
</html>
