@args (String full_name,String online_full_name,String ref_code)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<style>
<!--
a
{
color: rgb(0, 51, 153);
cursor: auto;
display: inline;
font-family: Arial;
font-size: 11px;
font-weight: bold;
text-decoration: none;
}
p
{
	margin: 1.5em 0 1.5em 0;
}
-->
</style>

<center>

<div id="wrapper" style="width:700px;">
<!--  Change url to image on server when deploy  -->
<table background="http://www.vndirect.com.vn/forward.do?fw=/images/commons/emailbackground.png" bgcolor="rgb(245,246,251)" border="0" cellpadding="0" cellspacing="0" style="background-repeat: no-repeat;">
<tr><td>
<div id="main" 
	style="border-style: solid;
	border-color:rgb(60,92,156);
	border-width:1px;
	width:700px;
	height:430px;
	display:block;">
	<div id="header" style="height:100px;">
		
	</div>
	<div id="content" style="width:500px;
					float:right;
					text-align:left;
					font-family:Verdana;
					font-size:12px;">
		<strong>@full_name</strong> thân mến,
		<br />
		<p>
		Thay mặt <strong>@online_full_name</strong>, chúng tôi hân hạnh giới thiệu đến bạn dịch vụ Giao dịch chứng khoán trực tuyến của Công ty cổ phần chứng khoán VNDIRECT.</p>
		<p>
		Bạn hãy nhấn chuột vào nút đăng kí và đăng kí mở tài khoản trên trang web của chúng tôi với mã dưới đây để nhận được 50.000 VNĐ trừ vào phí giao dịch của mình:
		</p>
		<center><strong> @ref_code</strong> </center>
		<br />
		<center> 
				<table class="nomal" cellpadding="0px" cellspacing="0px" align="center"> 
					<tr> 
						<td style="width:10px;"/> 
						<td><img src="http://www.vndirect.com.vn/forward.do?fw=/images/buttons/top_button_01.1.gif" border="0"/></td> 
						<td  nowrap="nowrap"  background="http://www.vndirect.com.vn/forward.do?fw=/images/buttons/top_button_03.1.gif"> 
							<a style="color: rgb(0, 51, 153);cursor: auto;display: inline;font-family: Arial;font-size: 11px;font-weight: bold;text-decoration: none;" href="http://www.vndirect.com.vn/forward.do?fw=/online/brokerage/home/CreateNewAccount.do"> 
								Đăng kí
							</a> 
						</td> 
						<td><img src="http://www.vndirect.com.vn/forward.do?fw=/images/buttons/top_button_02.1.gif" border="0"/></td> 
						<td style="width:10px;"/> 
						<td style="width:10px;"/> 
						<td><img src="http://www.vndirect.com.vn/forward.do?fw=/images/buttons/top_button_01.1.gif" border="0"/></td> 
						<td  nowrap="nowrap"  background="http://www.vndirect.com.vn/forward.do?fw=/images/buttons/top_button_03.1.gif"> 
							<a style="color: rgb(0, 51, 153);cursor: auto;display: inline;font-family: Arial;font-size: 11px;font-weight: bold;text-decoration: none;" href="http://www.vndirect.com.vn/forward.do?fw=/online/brokerage/refprogram/RefProgramAd.do"> 
								Tìm hiểu thêm</a></td> 
						<td><img src="http://www.vndirect.com.vn/forward.do?fw=/images/buttons/top_button_02.1.gif" border="0"/></td> 
						<td style="width:10px;"/> 								                             
					</tr> 
				</table> 
		</center>
		<p>
		Đồng thời bạn cũng có thể tham gia vào chương trình “Thêm Một, được 100” của chúng tôi để nhận được tiền cho bản thân. 
		</p>
		<p>
		Trân trọng,
		<br />
		<br />
		
		Đội ngũ VNDIRECT
		</p>
		
	</div>
</div>
<div id="footer" style="margin-top:5px;
	border-top-style: solid;
	border-top-color:rgb(140,167,197);
	border-top-width: 1px;
	background-color:rgb(245,246,251);
	color:rgb(75, 93, 103);
	font-family:Verdana;
	font-size:11px;">
<br />
<table cellpadding="0" cellspacing="0" width="100%" border="0">
    <tbody>
	<tr>
		<td valign="top"><div style="text-align:left;"><strong>Bản quyền &copy; Công ty cổ phần chứng khoán VNDIRECT </strong><br/> Trụ sở chính: Số 1 Nguyễn Thượng Hiền – Hai Bà Trưng – HN. ĐT 84-4-39724568. Fax 84-4-39724600</div></td>
		<td valign="top"><div style="text-align:right;"><strong><a style="color: rgb(0, 51, 153);cursor: auto;display: inline;font-family: Arial;font-size: 11px;font-weight: bold;text-decoration: none;" href="http://www.vndirect.com.vn/forward.do?fw=/online/brokerage/pages/ViewPage.do?uriParam=/home/Disclamer.html">&nbsp;Điều khoản sử dụng website</a>&nbsp;</strong></div></td>
	</tr>
	</tbody>
</table>
</div>
</td></tr>
</table>
</div>
</center>
</body>
</html>
