@args (String contract_number,String custody_number,String full_name,String username)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <style>
        #aotp {
            background-color: #f39000;
            font-size: 14px;
            color: #ffffff;
            padding: 10px 20px;
            border-radius: 10px;
            text-decoration: none;
            margin: 5px;
            display: inline-block;
        }

        .image-link {
            width: 4%;
        }

        .text-link {
            font-style: italic;
            color: #ffb74d;
        }

        .link {
            color: #f39000;
            text-decoration: none;
            display: flex;
            align-items: center;
        }

        td {
            padding-top: 10px;
            padding-bottom: 10px;
        }

    </style>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body style="width: 70%;padding-left: 10%;padding-right: 10%">
<div>
    <a href="#"><img src="cid:Banner.jpg" style="width: 100%"/></a>
</div>
<div style="font-family: Arial; font-size: 14px; text-align: justify; line-height: 25px; max-width: 800px;margin-left: 5%;
margin-right:5%;margin-top: 2%">
    <p>Kính chào Quý khách hàng <b style="color: orange">@full_name</b></p>
    <p><b style="color: orange">Công ty Cổ phần Chứng khoán VNDIRECT</b> trân trọng gửi lời chào và
        lời cám ơn đến Quý khách vì đã quan tâm và lựa chọn sử dụng dịch vụ
        của Chúng tôi. Quý khách đã mở tài khoản giao dịch tại <b style="color: orange">VNDIRECT</b> thành công.
        Xin thông báo các thông tin giao dịch của Quý khách như sau:</p>
    <ul style="list-style: none; padding: 0;">
        <li style="margin: 0;">Khách hàng: <b>@full_name</b></li>
        <li style="margin: 0;">Số tài khoản giao dịch: <b>@contract_number</b></li>
        <li style="margin: 0;">Số tài khoản lưu ký: <b>@custody_number</b></li>
        <li style="margin: 0;">Tên đăng nhập: <b>@username</b>.
            Quý khách có thể đổi mật khẩu
            <a href="https://trade-hn.vndirect.com.vn/doi-mat-khau?utm_source=open-account&utm_medium=email&utm_content=@username"
               target="_blank">tại đây</a></li>
    </ul>
    <p>Nhằm tăng bảo mật cho các giao dịch trực tuyến của Quý Khách,
        bên cạnh tên đăng nhập và mật khẩu, Quý khách cần đăng ký xác thực
        tài khoản bằng mã OTP trên VNDIRECT Mobile App hoặc gửi qua SMS
        theo hướng dẫn
        <a href="https://www.vndirect.com.vn/trade/giao-dich-co-phieu/dang-ky-su-dung-sms-app.shtml?utm_source=open-account&utm_medium=email&utm_content=@username"
           target="_blank"><b>Cài đặt bảo mật OTP</b></a>.</p>
    <p>Để bắt đầu giao dịch, Quý khách vui lòng xem
        <a href="https://www.vndirect.com.vn/nop-tien/?utm_source=open-account&utm_medium=email&utm_content=@username"
           target="_blank" style="color:orange">hướng dẫn nộp tiền</a>
        và
        <a href="https://trade-hn.vndirect.com.vn/huong-dan-su-dung?utm_source=open-account&utm_medium=email&utm_content=@username"
           target="_blank" style="color:orange">giao dịch mua bán cổ phiếu</a>.
        Chi tiết Quý khách vui lòng tham khảo
        <a href="https://www.vndirect.com.vn/cmsupload/HDGD-2017.21.11.pdf?utm_source=open-account&utm_medium=email&utm_content=@username"
           target="_blank">tại đây</a>.</p>
    <p>Quý khách vui lòng hoàn thiện hợp đồng với <b style="color: orange">VNDIRECT</b>
        trước khi thực hiện giao dịch rút tiền từ tài khoản:</p>
    <div style="border-style:solid;border-color:orange;display:inline-block;">
        <ol style="display: inline-block; padding-right: 30px;">
            <li><b>Hợp đồng mở tài khoản: 2 bản</b> (download tại
                <a href="https://www.vndirect.com.vn/cmsupload/HD-Mo-TK-CK20180312.pdf?utm_source=open-account&utm_medium=email&utm_content=@username"
                   target="_blank" style="color:orange">
                    Hợp đồng mở tài khoản giao dịch</a>)
            </li>
            <li><b>CMND / Thẻ căn cước: 1 bản photo</b></li>
        </ol>
    </div>
    <p>Hồ sơ hoàn thiện vui lòng gửi về địa chỉ chi nhánh gần nhất
        (xem mạng lưới chi nhánh <b style="color: orange">VNDIRECT</b> tại <a
                href="https://www.vndirect.com.vn/mang-luoi-chi-nhanh/?utm_source=open-account&utm_medium=email&utm_content=@username"
                target="_blank">https://www.vndirect.com.vn/mang-luoi-chi-nhanh/</a>).</p>
    <p style="text-align: left;">
        Nếu cần sự trợ giúp, vui lòng liên hệ với tổng đài <b style="display: inline-block;">1900 54 54 09</b>
        hoặc gửi email tới địa chỉ <a target="_blank"
                                      href="mailto:support@@vndirect.com.vn">support@@vndirect.com.vn</a>
    </p>
    <div
            style="margin: 20px 0px; font-size: 13px; padding: 0; font-style: italic; margin: 0">
        <div>Trân trọng,</div>
        <div>Công ty Cổ phần Chứng Khoán VNDIRECT</div>
        <div>Số 1 Nguyễn Thượng Hiền, Quận Hai Bà Trưng, Hà Nội</div>
        <div>Tele : (84 024) 39410622</div>
        <div>Fax : (84 024) 39724600</div>
        <div>Hotline : 1900-54 54-09</div>
        <div>
            Website : <a href="https://www.vndirect.com.vn" target="_blank">https://www.vndirect.com.vn</a>
        </div>
        <p></p>
    </div>
</div>
<table style="background-color: gray;width: 100%;">
    <tr>
        <td style="float: left;width: 40%;padding-left: 5%"><a
                href="https://www.vndirect.com.vn/cmsupload/HDGD-2017.21.11.pdf?" target="_blank"
                class="link"><img src="cid:chalkboard-teacher-solid.jpg" class="image-link"
                                  style="width: 20px;height: 20px;"/> <b
                class="text-link">&ensp;Hướng dẫn nộp tiền và giao dịch</b></a></td>
        <td style="float: left;width: 25%;"><a href="https://trade-hn.vndirect.com.vn/" target="_blank" class="link">
            <img src="cid:ProTrade.jpg" class="image-link"  style="width: 20px;height: 20px"/> <b
                class="text-link">&ensp;Bảng giá Lightning</b></a></td>
        <td style="padding-right: 5%;float: right"><a href="https://stockbook.vn/" target="_blank" class="link"
                                                      style="float:right;padding-right: 10px">
            <img src="cid:Stockbook.jpg" class="image-link" style="width: 20px;height: 20px"/> <b
                class="text-link">&ensp;Stockbook</b></a></td>
    </tr>
</table>
</body>
</html>
