@args (String full_name,String id_key,String report_key)
﻿ <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<table border="0" width="100%" cellspacing="1" cellpadding="0" id="table1">
	<tr>
		<td>&nbsp;</td>
		<td><p align="center"><font face="Arial" size="2">
			<img src="https://www.vndirect.com.vn/portal/images/front/logo.gif" width="170" height="32"></font>
		</td>
	</tr>
	<tr>
		<td><font face="Arial" size="2">Xin chào Quý khách hàng <span  style="font-weight: bold;">@full_name</span><b>!</b></font></td>
		<td><p align="center"></td>
	</tr>
	<tr>
		<td colspan="2">
		<font face="Arial" size="2">Cảm ơn Quý khách đã đăng ký mở tài khoản giao dịch chứng khoán tại công ty chứng khoán VNDIRECT qua địa chỉ: <a href="http://www.vndirect.com.vn/">www.vndirect.com.vn</a></font>		</td>
	</tr>
	<tr>
		<td colspan="2"><font face="Arial" size="2">Chúng tôi đã nhận được hồ sơ đăng ký của Quý khách và sẽ liên lạc lại với Quý khách để giúp Quý khách hoàn thành hồ sơ mở tài khoản và có thể tiến hành giao dịch chứng khoán tại VNDIRECT. </font></td>
	</tr>
	<tr>
		<td colspan="2"><font size="2" face="Arial, Helvetica, sans-serif">VNDIRECT là công ty chứng khoán cung cấp các dịch vụ giao dịch chứng khoán trực tuyến hàng đầu với mức phí môi giới rẻ nhất (0.2% trên mỗi giao dịch) và dịch vụ đa dạng nhất dành cho mọi đối tượng khách hàng </font></td>
	</tr>
	<tr>
	  <td colspan="2"><ul>
		  <li><font size="2" face="Arial"><strong>Các dịch vụ  chúng tôi cung cấp cho khách hàng đăng ký giao dịch trực tuyến qua VNDIRECT Online bao gồm </strong></font>
		    <ul>
		      <li><font size="2" face="Arial">Đặt lệnh mua bán chứng khoán trực tuyến trên HOSE và HNX (tiện ích hủy/sửa lệnh trực tuyến). 
</font></li>
	          <li><font size="2" face="Arial">Quản lý danh mục theo giá vốn và cập nhật theo giá trị thị trường.</font></li>
		      <li><font size="2" face="Arial">Tiện ích Ứng trước tiền bán ngay khi lệnh khớp.</font></li>
		      <li><font size="2" face="Arial">Chuyển tiền trực tuyến đến tài khoản ngân hàng đã đăng ký trước.</font></li>
		      <li><font size="2" face="Arial">Nhận thông báo ngay khi cổ phiếu chạm ngưỡng cảnh báo do nhà đầu tư xác lập </font></li>
		      <li><font size="2" face="Arial">Website chứng khoán hàng đầu <a href="www.vndirect.com.vn">www.vndirect.com.vn</a> liên tục cập nhật những thông tin mới nhất của các công ty niêm yết và thông tin thị trường tài chính cùng với các báo cáo phân tích, nhận định thị trường của các chuyên gia VNDIRECT.
</font></li>
	        </ul>
      </td>
	</tr>
	<tr>
		<td colspan="2">
			<p class="MsoNormal" align="right" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:left;line-height:150%">Quý khách vui lòng in các phiếu thông tin đã được điền đầy đủ dưới đây, mỗi phiếu 2 bản ký tên và gửi kèm bản sao chứng minh thư nhân về địa chỉ: <em><strong>Phòng Dịch Vụ Khách hàng. Công ty Cổ phần Chứng khoán VNDIRECT. Số 1 Nguyễn Thượng Hiền Hà Nội</strong> hoặc <strong>Tòa nhà THE 90th PASTEUR, số 90 Pasteur, Q.1, Tp. Hồ Chí Minh</strong></em> &nbsp;để hoàn thành hồ sơ mở tài khoản. <strong> <a href="javascript:downloadFileInDocument('vn_form_RegistrationForMoneyTransfer.pdf');"></a></strong></p>
			<div><p></p>
				<table class="nomal" cellpadding="0px" cellspacing="0px" align="center">
					<tr>
						<td>Hợp đồng mở tài khoản:</td>
						<td>
							<a href='https://www.vndirect.com.vn/portal/OnlineAccount.toPdf?PDF_TYPE=1&ID_KEY=@id_key&REPORT_KEY=@report_key' target="_blank"> Xem </a>
						</td>
					</tr>
					<!--
					<tr>
						<td>Phiếu yêu cầu mở Tài khoản:</td>
						<td>
							<a href='https://www.vndirect.com.vn/portal/OnlineAccount.toPdf?PDF_TYPE=2&ID_KEY=@id_key&REPORT_KEY=@report_key' target="_blank"> Xem </a>
						-->
						</td>
					</tr>
				</table>
			</div>
	  </td>
	</tr>
	<tr>
		<td colspan="2">
			<div id="etContent0">
				<p align="left">
					<font face="Arial" size="2">Nếu cần sự trợ giúp, hãy liên lạc với đội ngũ chăm sóc khách hàng của VNDIRECT<b><br />
Tel:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </b>1900545409 (nhánh 2)<b><br />
Email:</b>&nbsp;&nbsp;<a href="mailto:support@@vndirect.com.vn">support@@vndirect.com.vn</a></font></p>
				<p align="left"><font face="Arial" size="2"><br />
				  <b>Trân Trọng</b><br />
				  Dịch vụ khách hàng<br />
				  Công ty Chứng khoán VNDIRECT<br />
				</font></p>
		  </div>
		</td>
	</tr>
	<tr>
		<td valign="top" colspan="2"><div align="center"><img src="https://www.vndirect.com.vn/portal/images/commons/0.gif" width="1" height="1" /></div><hr align="left" width="95%" size="1" /></td>
	</tr>
	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="2"><font size="2" face="Arial, Helvetica, sans-serif">Dear <span  style="font-weight: bold;">@full_name</span><b> !</b></font></td>
	</tr>
	<tr>
		<td colspan="2"><font size="2" face="Arial, Helvetica, sans-serif">Thanks for your registering Trading Account in VNDIRECT Securities Company at <a href="http://www.vndirect.com.vn" target="_blank"> www.vndirect.com.vn</a> </font></td>
	</tr>
	<tr>
		<td colspan="2"><font face="Arial" size="2">We will contact you very soon to support you complete the application package.</font> </td>
	</tr>
	<tr>
		<td colspan="2"><font face="Arial" size="2">VNDIRECT Products &amp; Services:</font></td>
	</tr>
	<tr>
		<td colspan="2">
			<ul>
				<li><font size="2" face="Arial, Helvetica, sans-serif"><strong>Investment Services</strong></font>
					<ul>
						<li><font size="2" face="Arial, Helvetica, sans-serif">Brokerage Services</font></li>
						<li><font size="2" face="Arial, Helvetica, sans-serif">Research &amp; Investment Avisory </font></li>
					</ul>
				</li>
				<li><font size="2" face="Arial, Helvetica, sans-serif"><strong>Corporate Finance Advisory </strong></font>
					<ul>
						<li><font size="2" face="Arial, Helvetica, sans-serif">Corporate Finance Advisory</font></li>
						<li><font size="2" face="Arial, Helvetica, sans-serif">Equitization Advisory</font></li>
						<li><font size="2" face="Arial, Helvetica, sans-serif">Share Issuance and underwrting </font></li>
						<li><font size="2" face="Arial, Helvetica, sans-serif">Listing</font></li>
						<li><font size="2" face="Arial, Helvetica, sans-serif">Corporate Restructoring Services</font></li>
						<li><font size="2" face="Arial, Helvetica, sans-serif">Mergers And Acquisitions</font></li>
					</ul>
				</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<p><font size="2" face="Arial, Helvetica, sans-serif">
				For futher support, please contact VNDIRECT&#39;s customer service at <br />
				<strong>Tel</strong>: (+84) 1900-545409<br />
				<strong>Email</strong>: <a href="mailto:support@@vndirect.com.vn"> support@@vndirect.com.vn</a>
			</font></p>
			<p class="reg-input">Link to registration forms:</p>
			<div>
				<table class="nomal" cellpadding="0px" cellspacing="0px" align="center">
					<tr>
						<td>Open account form:</td>
						<td>
							<a href='https://www.vndirect.com.vn/portal/OnlineAccount.toPdf?PDF_TYPE=1&ID_KEY=@id_key&REPORT_KEY=@report_key' target="_blank"> View </a>
						</td>
					</tr>
					<tr>
						<td>Register online trading form:</td>
						
						<td>
							<a href='https://www.vndirect.com.vn/portal/OnlineAccount.toPdf?PDF_TYPE=2&ID_KEY=@id_key&REPORT_KEY=@report_key' target="_blank"> View </a>
						</td>
						
					</tr>
				</table>
			</div>
		</td>
	</tr>
	<tr>
		<td colspan="2">
		  <div align="left"><font face="Arial" size="2"><br />
		    <b>Best regards,</b><br />
		    Customer Services<br />
		    VNDIRECT Securities Company<br />
		    <b>Head office : </b>No 1 Nguyen Thuong Hien Str. – Hai Ba Trung Dist– HaNoi - Vietnam&nbsp;<br />
	      </font>
		      <span style="font-family: Arial">
		        <font size="2">Tel: 844-39724568&nbsp; - Fax: 844-39724600</font>
	            </span>
		      <font face="Arial" size="2"><br />
	          <br />
		        <b>Branch: </b>THE 90th PASTEUR, 90 Pasteur, Dist. 1, Ho Chi Minh City<br />
	            </font>
		      <span style="font-family: Arial">
		        <font size="2">  Tel:&nbsp; (08) 3914 6925  </font>
	            </span>
	          </div></td></tr>
</table>
</body>
</html>
