@args (String promotionExp, String customerId, String fullname, String brokerName, String serviceName, String serviceUrl)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<style>
	</style>
</head>
<body>
<div style="width:900px">
	Dear anh/chị,
	<p>
		Khuyến nghị sử dụng dịch vụ <strong>@serviceName</strong> của anh/chị đã được gửi đến khách hàng <strong>@fullname</strong>.
	</p>
	<p>
		Anh chị chủ động liên hệ khách hàng để hướng dẫn xác nhận qua link trong email.
		Việc xác nhận này là cần thiết giúp khách hàng hoàn tất đăng ký dịch vụ.
	</p>
    <p>
        <strong>Lưu ý:</strong>
	</p>
    <ul>
        <li>Link xác nhận có hiệu lực đến <strong>@promotionExp</strong> và được sinh tự động bảo mật riêng với khách hàng.</li>
        <li>Khách hàng <strong>không cần đăng nhập</strong> để xác nhận đăng ký dịch vụ qua link này.</li>
    </ul>
	<p style="text-align: left;">
        Nếu cần sự trợ giúp, vui lòng liên hệ phòng Service Desk Môi giới.
	</p>
	<p>
		Trân trọng!
	</p>
</div>
</body>
</html>

