@args (String active_url,String email,String full_name,String gender,String id_number,String mobile_phone,String password,String username, String wl_name, String full_company_name, String wl_address, String wl_contact_number, String wl_website_url)
﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style>
    </style>
</head>
<body>
<div style="width:600px">
    <table border="0" width="100%" cellspacing="1" cellpadding="0" id="table1"
           style="font-family: Arial; line-height: 25px; text-align: justify;">
        <tr>
            <td><font face="Arial" size="2">Xin chào <span style="font-weight: bold;">
		@full_name</span><b>

                ,</b></font></td>
            <td>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td></td>
        </tr>
        <tr>
            <td>Quý khách đang mở tài khoản giao dịch chứng khoán tại @wl_name với thông tin như sau:</td>
        </tr>
        <tr>
            <td>Họ tên: <strong>@full_name</strong></td>
        </tr>
        <tr>
            <td>Tên tài khoản: <strong>@username</strong></td>
        </tr>
        <tr>
            <td>Mật khẩu: <strong>@password</strong></td>
        </tr>
        <tr>
            <td>Giới tính: <strong>@gender</strong></td>
        </tr>
        <tr>
            <td>Email: <strong>@email</strong></td>
        </tr>
        <tr>
            <td>Số điện thoại: <strong>@mobile_phone</strong></td>
        </tr>
        <tr>
            <td>Số CMT: <strong>@id_number</strong></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td></td>
        </tr>
        <tr>
            <td colspan="2"><font size="2" face="Arial, Helvetica, sans-serif">
                <span>Để xác nhận tài khoản của quý khách, vui lòng bấm vào đường link dưới đây: <br/></span>
            </font>
                <div style="text-align: center;"><a style="font-weight: bold;" href='@active_url'>XÁC NHẬN TÀI KHOẢN</a>
                </div>
                <span>Bằng việc truy cập vào đường link này, quý khách cũng đã xác nhận rằng mọi thông tin @wl_name đưa ra trên đây là chính xác. @wl_name không chịu trách nhiệm cho bất cứ thông tin sai lệch nào.</span>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td></td>
        </tr>
        <tr>
            <td style="font-family:Arial; font-size: 13px;line-height: 15px;">
                <p style="font-style: italic;">Trân trọng,</p>
                <strong>@full_company_name</strong><br/>
                Address: @wl_address<br/>
                Contact number: @wl_contact_number<br/>
                Website : <a style="color: #f8941d; text-decoration: none;" href="@wl_website_url">@wl_website_url</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>

