@args (String full_name)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style>
    </style>
</head>
<body>
<div style="width:700px">
    <table border="0" width="100%" cellspacing="1" cellpadding="0" id="table1"
           style="font-family: Arial; line-height: 25px; text-align: justify;">
        <tr>
            <td>Dear @?full_name ,</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Please kindly find attached the documents for opening the trading account at VNDIRECT and IICA at Indovina Bank. Once all the forms are fully filled & signed, please dispatch them to our office address as below:</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td><b>Institutional Client Group (ICG)</b></td>
        </tr>
        <tr>
            <td><b>VNDIRECT SECURITIES CORPORATION</b></td>
        </tr>
        <tr>
            <td><b>The 90th Pasteur Building, 90 Pasteur Str. District 1. HCMC, Vietnam 700000</b></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>The required documents includes:</td>
        </tr>
        <tr>
            <td>·   <b>03</b> notarized copies of <b>your valid Passport</b> (with English notary stamp)</td>
        </tr>
        <tr>
            <td>·   <b>01</b> original <b>Securities Trading Code Application</b> (see attached)</td>
        </tr>
        <tr>
            <td>·   <b>01</b> original <b>Letter of Authorization</b> (see attached)</td>
        </tr>
        <tr>
            <td>·   <b>02</b> original <b>Contract for Securities Trading Account Opening</b> (see attached)</td>
        </tr>
        <tr>
            <td>·   <b>01</b> original <b>Cash Advance Contract</b> (optional and only applicable for custody account opened at VNDIRECT) (see attached)</td>
        </tr>
        <tr>
            <td>·   <b>01</b> original <b>Additional Information for FATCA Compliance Purpose</b> (see attached)</td>
        </tr>
        <tr>
            <td>·   <b>01</b> original <b>Form  W-9</b> (see attached, if you are US citizen)</td>
        </tr>
        <tr>
            <td>·   <b>02</b> original <b>Application cum Contract for Opening Individual Account  & Service</b> (see attached)</td>
        </tr>
        <tr>
            <td>·   <b>01</b> original <b>Request Letter – email register</b> (see attached)</td>
        </tr>
        <tr>
            <td>·   <b>01</b> original <b>Form  W-8BEN</b> (see attached, if you are US citizen)</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>*Note:</td>
        </tr>
        <tr>
            <td>·         You only need to have your Passport notarized by any public notary office in your country (the notary stamp should be in English). The notarized copy of your Passport will usually have the notarized seal and the signature of the person who notarizes it (if any). Please kindly ask the public notary in your area for further details.</td>
        </tr>
        <tr>
            <td>·         Please note that your signature needs to be the same with the signature of bearer in your passport.</td>
        </tr>
        <tr>
            <td>·         All the forms need to be filled and signed by blue-ink pen.</td>
        </tr>
        <tr>
            <td>·         For <b>Application cum Contract for Opening Individual Account  & Service</b>, please have your signature in every page’s right bottom corner as the requirement of Indovina Bank and make sure you have 02 specimen signatures in the Page 3.</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>If you have any further question, please feel free to contact us.</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td style="font-family:Arial; font-size: 13px;line-height: 15px;"><p style="font-style: italic;">Best regards,</p>
                <p>VNDIRECT Securities Company</p>
                <p>Office : The 90th Pasteur Building, 90 Pasteur Str. Dist 1. HCM</p>
                <p>Bloomberg: VNDS/vndirect9@@bloomberg.net</p>
                <p>Tel: +84 28 7300 0300</p>
                    <br>
                <p>Skype:  khtc_vnd</p>
                <p>Email:  ICG@@vndirect.com.vn</p>
                    <br>
                <p>Website: https://www.invest.vndirect.com.vn</p>
                    <br>
                <p>Representatives:</p>
                <p>1. Hang Tran (Ms.)     - hang.tranxuan@@vndirect.com.vn   (+84 28 7300 0688 Ext 21168)</p>
                <p>2. Trung Nguyen (Mr.)  - trung.nt@@vndirect.com.vn        (+84 28 7300 0688 Ext 21068)</p>
                <p>3. Linh Nguyen (Ms.)   - linh.nn@@vndirect.com.vn         (+84 28 7300 0688 Ext 21089)</p>
                <p>4. Anh Nguyen (Ms.)    - anh.phamnguyen@@vndirect.com.vn  (+84 28 7300 0688 Ext 21222)</p>
                    <br>
                <p>PLEASE NOTE: This email and any attachment is intended for use only by specified addresses and may contain legally privileged and/or confidential information. If you are not an intended recipient, please delete the original and any copy of this message, notify the sender by email or telephone and accept our apologies for any inconvenience.</p>
            </td>
        </tr>
    </table>
</div>
</body>
</html>

