@args (String receiver_name, String customer_name, String account_no, String service_register)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <style>
        td {
            padding-top: 10px;
            padding-bottom: 10px;
        }

    </style>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body style="background-color: #dddddd">
<div style="width: 70%;height: 90%;margin: auto;background-color: white;">
    <div style="font-family: Arial; font-size: 14px; text-align: justify; line-height: 25px; max-width: 800px;margin-left: 5%;
margin-right:5%;margin-top: 2%">
        <p>Kính chào <b>@?receiver_name</b>,</p>
        <p>Khách hàng <b>@?customer_name</b> - số tài khoản <b>@?account_no</b> vừa có yêu cầu đăng ký dịch vụ @?service_register</p>
        <p>Anh chị vui lòng liên hệ hỗ trợ khách hàng để hoàn thiện hợp đồng đăng ký dịch vụ.</p>
        <p>Lưu ý: <i>Đây là mail tự động được gửi từ hệ thống Sales Support. Vui lòng không reply lại mail này.</i></p>
        Xin cảm ơn,<br>
        Sales Support
    </div>
</div>
</body>
</html>
