@args(String password,String username)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body style="width: 50%;padding-left: 20%;padding-right: 10%">
<div>
    <a href="#"><img src="cid:Banner.jpg" style="width: 100%"/></a>
</div>
<div style="font-family: Arial; font-size: 14px; text-align: justify; max-width: 800px;margin-left: 5%;
margin-right:5%;margin-top: 2%">
    <p>Xin chào <b>@?username</b>,</p>
    <p>Chúng tôi vừa thiết lập lại mật khẩu cho quý khách.</p>

    <p>Mật khẩu mới của quý khách là: <b>@?password</b></p>

    <p style="text-align: left;margin-top: 2%">
        Liên hệ:<b style="display: inline-block;color: orange">&ensp;1900 54 54
        09</b>
        hoặc gửi email tới địa chỉ <a target="_blank" style="color: orange;"
                                      href="mailto:support@@vndirect.com.vn">support@@vndirect.com.vn</a>
    </p>
    <br/>
        <p>Trân trọng,<br/>
            Công ty Cổ phần Chứng Khoán VNDIRECT<br/>
            Trụ sở chính: Số 1 Nguyễn Thượng Hiền, Hai Bà Trưng, Hà Nội<br/>
            Điện thoại: 0243.9724568 &emsp;Fax: 0243.9724600</p>
    </div>

</div>
</body>
</html>
