@args (String promotionToken, String promotionExp, String customerId, String accountNos, String fullname, String brokerId, String brokerName, Integer serviceId, String serviceName, String serviceUrl, String serviceTermsUrl, String serviceRequireAccountType)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<style>
	</style>
</head>
<body>
<div style="width:900px">
	<p>Kính chào Quý khách <b>@fullname</b>,</p>
	<p>Công ty Cổ phần chứng khoán VNDIRECT cảm ơn Quý khách đã đăng ký dịch vụ <strong>@serviceName</strong> cho tài khoản <b>@accountNos</b> do môi giới <b>@brokerName</b> chăm sóc.</p>

	<p>Vui lòng bấm vào link dưới đây để tiếp tục quá trình xác nhận đăng ký dịch vụ.
		<a href="https://customer-profile.vndirect.com.vn/service/register/confirm/otp?secretKey=@promotionToken&customerId=@customerId&accountNos=@accountNos&serviceId=@serviceId&serviceName=@(java.net.URLEncoder.encode(serviceName, "UTF-8"))&serviceUrl=@serviceUrl&serviceTermsUrl=@?serviceTermsUrl&serviceRequireAccountType=@serviceRequireAccountType&referrer=@brokerId">Đăng kí</a>
		hoặc bấm vào đây để
		<a href="@(serviceUrl.contains("?") ? serviceUrl + "&" : serviceUrl + "?")utm_source=promote-request&utm_medium=email&utm_campaign=@brokerId&utm_content=@serviceId">tìm hiểu thêm</a>
	</p>
	<p>Việc xác nhận này là cần thiết giúp Quý khách hoàn tất đăng ký dịch vụ <strong>@serviceName</strong>.</p>
	<p><strong>Lưu ý:</strong>
		<ul>
	<li>
		Link xác nhận chỉ có hiệu lực 1 lần và được sinh tự động bảo mật riêng với Quý khách.
	</li>
	<li>
		Link xác nhận trong email này có hiệu lực đến <strong>@(promotionExp.substring(11, 16))</strong> ngày <strong>@(promotionExp.substring(0, 10))</strong>.
	</li>
    </ul>
	<p style="text-align: left;">
		Nếu cần sự trợ giúp, vui lòng liên hệ với tổng đài <b>1900 54 54
		09 </b> hoặc gửi email tới địa chỉ <a target="_blank"
											  href="mailto:support@@vndirect.com.vn">support@@vndirect.com.vn</a>
	</p>
</div>
</body>
</html>

