@args (String contract_no,String identifcation_code,String identifcation_type,String user_type,String username)
﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<table border="0" width="100%" cellspacing="1" cellpadding="0" id="table1">
	<tr>
		<td>&nbsp;</td>
		<td>
		<p align="center"><font face="Arial" size="2">
<img src="https://www.vndirect.com.vn/vndirect-online/images/logo/vndirect_logo.jpg" width="170" height="32"></font></td>
	</tr>

	<tr>
		<td colspan="2"><font face="Arial" size="2">Thông tin đăng ký của khách hàng </font></td>
	</tr>
	<tr>
		<td colspan="2">
		<ul>
			<li><b>VNDS User</b>: @username </li>
			<li><b>User type:</b> @user_type </li>
			<li><b>Contract Number::</b> @contract_no </li>
			<li><b>Identification Type:</b> @identifcation_type </li>
			<li><b>Identification Code::</b> @identifcation_code </li>
		</ul>
		</td>
	</tr>
	<tr>
		<td colspan="2">
		<p class="MsoNormal" align="right" style="margin-bottom:0in;margin-bottom:.0001pt;
text-align:left;line-height:150%">
<font face="Arial" size="2">Nếu cần sự trợ giúp, hãy liên lạc với đội ngũ chăm 
sóc khách hàng của VNDIRECT<b><br>
Tel:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </b>1900545409 (nhánh 2)<b><br>
Email:</b>&nbsp;&nbsp;
<a href="mailto:support@@vndirect.com.vn">support@@vndirect.com.vn</a> </font></p></td>
	</tr>
	<tr>
		<td colspan="2">
		<div id="etContent0">
		<p align="center"><font face="Arial" size="2"><b><br>
		Trân Trọng</b><br>
		Dịch vụ khách hàng<br>
		Công ty Chứng khoán VNDIRECT<br>
			<b>Trụ sở chính: </b>Số 1 Nguyễn Thượng Hiền – Hai Bà Trưng – HN&nbsp;<b><br>
		</b></font><span style="font-family: Arial"><font size="2">Tel: 
		844-39724568&nbsp; - Fax: 844-39724600</font></span><font face="Arial" size="2"><b><br>
		<br>
			Chi nhánh: </b>Tòa nhà THE 90th PASTEUR, số 90 Pasteur, Q.1, Tp. Hồ Chí Minh<br>
		</font><span style="font-family: Arial"><font size="2">&nbsp;&nbsp;&nbsp;&nbsp; 
		Tel:&nbsp; (08) 3914 6925&nbsp;&nbsp; Fax:&nbsp; (08) 3914 6924</font></span></div>
		</td>
	</tr>
</table>
</body>
</html>
