@args (String activeKey,String email)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style>
</style>
</head>
<body>
<div style="width:600px">
<table border="0" width="100%" cellspacing="1" cellpadding="0" id="table1" style="line-height: 25px; text-align: justify;">
	<tr>
		<td><font face="Arial" size="2">Chào bạn,</font></td>
		<td>
		</td>
	</tr>
		<td colspan="2"><font face="Arial" size="2">Bạn đang đăng ký một tài khoản tại VNDIRECT với email 
		<strong>@email</strong>.  Để hoàn thành việc đăng ký, xin vui lòng điền mã dưới đây vào ô “Mã xác nhận” trên bảng giá:
 </font><font size="2" face="Arial, Helvetica, sans-serif"> </font></td>
	</tr>
	
	<tr><td>
		<div style="font-size: 200%;text-align:center;background-color:#ffffff;color:black;padding:20px;margin-top: 30px;margin-bottom: 30px;margin-right: 150px;margin-left: 80px;border: solid 2px #f39200;color: #7c7c7b">@activeKey</div></td></tr>
	
	 <tr>
        <td style="font-family:Arial; font-size: 13px;line-height: 15px;"><p style="font-style: italic;">Trân trọng,</p>
        <p>Công ty Cổ phần Chứng Khoán VNDIRECT</p>
        <p>Số 1 Nguyễn Thượng Hiền, Quận Hai Bà Trưng, Hà Nội</p>
        <p>Tele : (84 4) 39410622</p>
        <p>Fax : (84 4) 39724600</p>
        <p>Hot line : 1900-54 54-09</p>
        <p>Website : <a style="color: #f8941d; text-decoration: none;" href="https://www.vndirect.com.vn">https://www.vndirect.com.vn</a></p>
        </td>
    </tr>
</table>
</div>
</body>
</html>

