@args (String brokerName)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
	<div
		style="font-family: Arial; font-size: 14px; text-align: justify; line-height: 25px;">
		<p>Kính chào Quý khách hàng!</p>
		<p>Cảm ơn quý khách hàng đã quan tâm tới dịch vụ môi giới của chúng tôi.</p>
		<p>Rất tiếc môi giới @brokername chưa phù hợp với quý khách.
			Hy vọng quý khách sẽ tìm thấy môi giới khác phù hợp hơn tại
			<a href="https://www.vndirect.com.vn/search-broker/" target="_blank">Tìm kiếm môi giới</a></p>
	</div>

	<p style="font-family: Arial; font-size: 14px; text-align: left; line-height: 25px;">
		Nếu cần sự trợ giúp, vui lòng liên hệ với tổng đài <b>1900 54 54 09 </b> hoặc gửi email tới địa chỉ
		<a target="_blank" href="mailto:support@@vndirect.com.vn">support@@vndirect.com.vn</a>
	</p>
	<div style="margin: 20px 0px; font-family: Arial; font-size: 13px; padding: 0; font-style: italic; margin: 0">
		<div style="line-height: 25px; font-size: 14px;">Trân trọng,</div>
		<div style="font-size: 15px; font-style: oblique">Công ty Cổ phần Chứng Khoán VNDIRECT</div>
		<div>Số 1 Nguyễn Thượng Hiền, Quận Hai Bà Trưng, Hà Nội</div>
		<div>Tele: (84 024) 39410622</div>
		<div>Fax: (84 024) 39724600</div>
		<div>Hotline: 1900-54 54-09</div>
		<div>
			Website : <a href="https://www.vndirect.com.vn" target="_blank">https://www.vndirect.com.vn</a>
		</div>
	</div>
</body>
</html>

