@args (String contract_dowload_url,String contract_number,String custody_number,String full_name,String username, String broker_name, String broker_department)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
	<div
		style="font-family: Arial; font-size: 14px; text-align: justify; line-height: 25px;">
		<p>Kính chào Quý khách hàng!</p>
		<p>Công ty Cổ phần Chứng khoán VNDIRECT trân trọng gửi lời chào và
			lời cám ơn đến Quý khách vì đã quan tâm và lựa chọn sử dụng các sản
			phẩm/dịch vụ của Chúng tôi. Qúy khách đã mở tài khoản giao dịch tại
			VNDIRECT thành công. Xin thông báo các thông tin giao dịch của Quý
			khách như sau:</p>
		<ul style="list-style: none; padding: 0;">
			<li style="margin: 0;">Khách hàng: <b>@full_name</b></li>
			<li style="margin: 0;">Số tài khoản giao dịch: <b>@contract_number</b></li>
			<li style="margin: 0;">Số tài khoản lưu ký: <b>@custody_number</b></li>
			<li style="margin: 0;">Tên đăng nhập: <b>@username</b></li>
			<li style="margin: 0;">Tài khoản của quý khách sẽ được quản lý bởi Môi giới: <b>@broker_name</b></li>
			<li style="margin: 0;">Phòng: <b>@broker_department</b></li>
		</ul>
		<div style="font-style: italic;">(Quý khách vui lòng đổi mật
			khẩu để đảm bảo an toàn cho tài khoản giao dịch)</div>
		<p>Nhằm tăng bảo mật cho các giao dịch trực tuyến của Quý khách,
			ngoài việc đăng nhập bằng tên đăng nhập và mật khẩu ở trên, Quý khách
			sẽ cần xác thực tài khoản lần thứ 2 bằng mã xác minh được lấy từ App
			trên điện thoại hoặc gửi qua SMS. Vui lòng cài đặt phương thức nhận
			mã xác minh theo đường dẫn sau:</p>

		<div style="text-align: center; color: rgb(0, 0, 255);">
			<a href="$email.getItem('register_otp_url')" target="_blank">CÀI
				ĐẶT TẦNG BẢO MẬT SỐ 2</a>
		</div>
		<p>
			Qúy khách có thể xem thêm hướng dẫn giao dịch tại đây. <a
				href="https://www.vndirect.com.vn/portal/tro-giup/hoi-dap-huong-dan.shtml"
				target="_blank"> Hướng dẫn giao dịch </a>
		</p>
		<p style="text-decoration: underline; font-style: italic;">
			<font size="2" face="Arial, Helvetica, sans-serif"><a
				href='@contract_dowload_url'>Hợp đồng mở tài
					khoản giao dịch</a></font>
		</p>
		<p style="text-align: left;">
			Nếu cần sự trợ giúp, vui lòng liên hệ với tổng đài <b>1900 54 54
				09 </b> hoặc gửi email tới địa chỉ <a target="_blank"
				href="mailto:support@@vndirect.com.vn">support@@vndirect.com.vn</a>
		</p>
		<div
			style="margin: 20px 0px; font-size: 13px; padding: 0; font-style: italic; margin: 0">
			<div>Trân trọng,</div>
			<div>Công ty Cổ phần Chứng Khoán VNDIRECT</div>
			<div>Số 1 Nguyễn Thượng Hiền, Quận Hai Bà Trưng, Hà Nội</div>
			<div>Tele : (84 4) 39410622</div>
			<div>Fax : (84 4) 39724600</div>
			<div>Hot divne : 1900-54 54-09</div>
			<div>
				Website : <a href="https://www.vndirect.com.vn" target="_blank">https://www.vndirect.com.vn</a>
			</div>
		</div>
	</div>
</body>
</html>

