@args (String active_url,String change_password,String email,String full_name,String gender,String id_number,String mobile_phone,String password,String username)
﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style>
</style>
</head>
<body>
<div style="width:600px">
<table border="0" width="100%" cellspacing="1" cellpadding="0" id="table1" style="line-height: 25px; text-align: justify;">
	<tr>
		<td><font face="Arial" size="2">Welcome <span  style="font-weight: bold;">
		@full_name</span><b>

		 ,</b></font></td>
		<td>
		</td>
	</tr>
	<tr>
		<td>&nbsp;  </td>
		<td> </td>
	</tr>
	<tr><td>You are opening a VNDIRECT Trading Account with the information below:</td></tr>
	<tr><td>User Name: <strong>@username</strong></td></tr>
	<tr><td>Password: <strong>@password</strong></td></tr>
	<tr><td>Full Name: <strong>@full_name</strong></td></tr>
	<tr><td>Gender: <strong>@gender</strong></td></tr>
	<tr><td>Identification Number: <strong>@id_number</strong></td></tr>
	<tr><td>Phone Number: <strong>@mobile_phone</strong></td></tr>
	<tr><td>Email: <strong>@email</strong></td></tr>
	
	<tr>
	<td colspan="2"><font size="2" face="Arial, Helvetica, sans-serif">
			<span>To verify your account, please click the following link: <br/></span>
			</font>
			<div  style="text-align: center;"><a style="font-weight: bold;" href='@active_url'>VERIFY ACCOUNT</a></div>
			<span>By accessing this link, you are ensuring about all information which was given to VNDIRECT. VNDIRECT is not responsible for any incorect information.</span>
		</td>
	</tr>
	<tr>
	  <td colspan="2"><font size="2" face="Arial, Helvetica, sans-serif">Notice: For security reasons, you must change your password after loggin in the first time. To change your password, click link:</font>
	       <div style="text-align: center;"><a style="font-weight: bold;" href='@change_password'>CHANGE YOUR PASSWORD</a></div>
	  </td>
	</tr>
	<tr>
	  <td colspan="2"><p><font size="2" face="Arial, Helvetica, sans-serif">For any request, please contact our Customer Service Department via 1900 5454 09 or email <a style="color: #f8941d; text-decoration: none;" href="mailto:support@@vndirect.com.vn">support@@vndirect.com.vn</a></font></p>
      </td>
	</tr>
	 <tr>
        <td style="font-family:Arial; font-size: 13px;line-height: 15px;"><p style="font-style: italic;">Best Regards,</p>
        <p>VNDIRECT Securities Corporation</p>
        <p>No.1 Nguyen Thuong Hien street, Hanoi, Vietnam</p>
        <p>Tele : (84 4) 39410622</p>
        <p>Fax : (84 4) 39724600</p>
        <p>Hotline : 1900-54 54-09</p>
        <p>Website : <a style="color: #f8941d; text-decoration: none;" href="https://www.vndirect.com.vn">https://www.vndirect.com.vn</a></p>
        </td>
    </tr>
</table>
</div>
</body>
</html>

