@args (String full_name,String password,String username,String vtos_serial)
﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<table border="0" width="100%" cellspacing="1" cellpadding="0" id="table1">
	<tr>
		<td>&nbsp;</td>
		<td>
		<p align="center"><font face="Arial" size="2">
<img src="https://www.vndirect.com.vn/vndirect-online/images/logo/vndirect_logo.jpg" width="170" height="32"></font></td>
	</tr>
	<tr>
		<td><font face="Arial" size="2">Xin chào Quý khách hàng <span  style="font-weight: bold;">
		@full_name</span><b>

		 !</b></font></td>
		<td>
		<p align="center"></td>
	</tr>
	<tr>
		<td colspan="2"><font face="Arial" size="2">Cám ơn Quý khách đã đăng ký giao dịch trực tuyến với VNDIRECT Online. </font></td>
	</tr>
	<tr>
		<td colspan="2"><font face="Arial" size="2">Thông tin đăng ký của Quý 
		khách:</font></td>
	</tr>
	<tr>
		<td colspan="2">
		<ul>
			<li><b>Tên đăng nhập</b>: @username </li>
			<li><b>Mậu khẩu:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @password </li>
			<li><b>Thẻ VTOS:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @vtos_serial </li>
		</ul>
		</td>
	</tr>
	<tr>
		<td colspan="2"><font face="Arial" size="2"> Các bước đăng nhập:</font></td>
	</tr>
	<tr>
		<td colspan="2">
		<ol>
			<li><font face="Arial" size="2">Sử dụng username&amp;password ở trên để 
			đăng nhập vào hệ thống theo địa chỉ <a href="http://www.vndirect.com.vn">
			www.vndirect.com.vn</a>
			</font>
			</li>
			<li><font face="Arial" size="2">Sử dụng thẻ bảo mật VTOS để xác nhận 
			các thông tin định dạng. Lưu ý nhập chính xác giá trị các ô theo tọa 
			độ được yêu cầu</font></li>
			<li><font face="Arial" size="2">Truy cập thành công vào hệ thống, 
			tiến hành đổi mật khẩu lần đầu sử dụng. Lưu ý: VNDIRECT khuyến cáo 
			khách hàng thường xuyên thay đổi mật khẩu để đảm bảo độ an toàn cho 
			tài khoản cá nhân.
			</font> </li>
			<li><font face="Arial" size="2">Quý khách hàng lưu ý tắt phông chữ 
			tiếng Việt khi đăng nhập vào hệ thống.</font></li>
		</ol>
		</td>
	</tr>
	<tr>
		<td colspan="2"><font face="Arial" size="2">Quý khách hàng cần đọc kỹ <a href="https://www.vndirect.com.vn/vndirect-online/online/brokerage/home/SupportCustomerService.do?uriParam=/CustomerServices/CS_Tab1_InstructionToOpenAnAcc4.htm" target="_blank">hướng dẫn giao 
		dịch trực tuyến</a> và <a href="https://www.vndirect.com.vn/vndirect-online/online/brokerage/pages/ViewPage.do?uriParam=/home/Customer_Agreement.html" target="_blank">Quy đinh trách nhiệm</a> trước khi tiến hành giao dịch 
		trực tuyến để hiểu rõ các tính năng sản phẩm và quy định giao dịch của Công ty chứng khoán VNDIRECT. </font></td>
	</tr>
	<tr>
		<td colspan="2">
		<p class="MsoNormal" align="right" style="margin-bottom:0in;margin-bottom:.0001pt;
text-align:left;line-height:150%">
<font face="Arial" size="2">Đội ngũ nhân viên giao dịch sẽ luôn hỗ trợ Quý khách hàng. Xin liên hệ với chúng  tôi<br>
Tel:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </b>1900545409 (nhánh 2)<b><br>
Email:</b>&nbsp;&nbsp;
<a href="mailto:support@@vndirect.com.vn">support@@vndirect.com.vn</a> </font></p></td>
	</tr>
	<tr>
		<td colspan="2">
		<div id="etContent0">
		<p align="center"><font face="Arial" size="2"><b><br>
		Trân Trọng</b><br>
		Dịch vụ khách hàng<br>
		Công ty Chứng khoán VNDIRECT<br>
			<b>Trụ sở chính: </b>Số 1 Nguyễn Thượng Hiền – Hai Bà Trưng – HN&nbsp;<b><br>
		</b></font><span style="font-family: Arial"><font size="2">Tel: 
		844-39724568&nbsp; - Fax: 844-39724600</font></span><font face="Arial" size="2"><b><br>
		<br>
			Chi nhánh: </b>Tòa nhà THE 90th PASTEUR, số 90 Pasteur, Q.1, Tp. Hồ Chí Minh<br>
		</font><span style="font-family: Arial"><font size="2">&nbsp;&nbsp;&nbsp;&nbsp; 
		Tel:&nbsp; (08) 3914 6925&nbsp;&nbsp; Fax:&nbsp; (08) 3914 6924</font></span></div>
		</td>
	</tr>
	<tr>
         <td valign="top" colspan="2"><div align="center"><img src="../../../images/commons/0.gif" width="1" height="1" /></div><hr align="left" width="95%" size="1" /></td>
    </tr>
	<tr>
	  <td colspan="2"><font size="2" face="Arial, Helvetica, sans-serif">Dear <span  style="font-weight: bold;">
		@full_name</span><b> !</b></font></td>
  </tr>
	<tr>
	  <td colspan="2"><font size="2" face="Arial, Helvetica, sans-serif">We are 
		happy to welcome you to our Online Trading Services at <a href="http://www.vndirect.com.vn" target="_blank">
		www.vndirect.com.vn</a> </font></td>
  </tr>
	<tr>
	  <td colspan="2"><font size="2" face="Arial, Helvetica, sans-serif">This 
		fully-funtional allows you to trade Stocks and managed your porfolios on 
		HOSE and HNX in real- time on a simulated account. </font></td>
  </tr>
	<tr>
	  <td colspan="2"><font size="2" face="Arial, Helvetica, sans-serif">To 
		login, please use the following login information </font></td>
  </tr>
	<tr>
		<td colspan="2"><ul>
		  <li><font size="2" face="Arial, Helvetica, sans-serif"><strong>Your 
			User ID is</strong>: @username </font></li>
	      <li><font size="2" face="Arial, Helvetica, sans-serif"><strong>Your 
			Password is</strong>: @password </font></li>
		  <li><font size="2" face="Arial, Helvetica, sans-serif"><strong>VTOS 
			card serial</strong>: @vtos_serial</font></li>
		</ul></td>
	</tr>
	<tr>
	  <td colspan="2"><p><font size="2" face="Arial, Helvetica, sans-serif">Now 
		you can log in your trading account online and carry out transactions 
		with the following steps:</font></p>
        <ol>
          <li><font size="2" face="Arial, Helvetica, sans-serif">Log in your 
			account with above username&amp;password at <a href="http://www.vndirect.com.vn" target="_blank">
			www.vndirect.com.vn</a> </font></li>
          <li><font size="2" face="Arial, Helvetica, sans-serif">See your VTOS 
			card foe the secon identification. Remember to fill in exactly with 
			the required letter or number </font></li>
          <li><font size="2" face="Arial, Helvetica, sans-serif">After logging 
			in the first time, please change the password. VNDIRECT recommend 
			that customers change their password regularly to secure your 
			trading account</font></li>
	      </ol></td>
  </tr>
	<tr>
	  <td colspan="2"><font size="2" face="Arial, Helvetica, sans-serif">Please 
		read carefully the Trading Guide and Account Agreement before start your 
		online trading services </font></td>
  </tr>
	<tr>
		<td colspan="2"><p><font size="2" face="Arial, Helvetica, sans-serif">
		For futher support, please contact VNDIRECT&#39;s customer service at <br>
            <strong>Tel</strong>: 04-9724568 (exit 304 0r 306)<br>
	    <strong>Email</strong>: <a href="mailto:support@@vndirect.com.vn">
		support@@vndirect.com.vn</a></font></p>	    </td>
	</tr>
	<tr>
	  <td colspan="2"><div align="center"><font face="Arial" size="2"><b><br>
        Best regards,</b><br>
  		Customer Services<br>
  		VNDIRECT Securities Company<br>
  <b>Head office : </b>No 1 Nguyen Thuong Hien Str. – Hai Ba Trung Dist– HaNoi - Vietnam&nbsp;<b><br>
  </b></font><span style="font-family: Arial"><font size="2">Tel: 844-39724568&nbsp; - 
		Fax: 844-39724600</font></span><font face="Arial" size="2"><b><br>
        <br>
  		Branch: </b>THE 90th PASTEUR, 90 Pasteur, Dist. 1, Ho Chi Minh City<br>
      </font><span style="font-family: Arial"><font size="2">&nbsp;&nbsp; Tel:&nbsp; (08) 3914 6925&nbsp;&nbsp; Fax:&nbsp; (08) 3914 6924</font></span></div></td>
  </tr>
</table>
</body>
</html>
